% -*- mode: erlang -*-
{cover_enabled,true}.
{erl_opts,[debug_info,{d,debug},{parse_transform,lager_transform}]}.
{sub_dirs,["apps/impactor","rel"]}.
{deps,[
        {lager, ".*",
         {git, "git@git.in.trueex.com:deps/lager.git",
          {tag, "80f5ffbe04c4d0cf7052bf78701c1d7cb2c1fbed"}}},
          
        {mochiweb, ".*",
         {git, "git@git.in.trueex.com:deps/mochiweb.git",
          {tag, "bed36252198ae7159e3d2b3a9ca9a9bb9817e1de"}}},
          
        {bunny_farm, ".*",
         {git, "git@git.in.trueex.com:deps/bunny_farm.git",
          {tag, "fda389a6602f6f48225fe59789a45838d896c8b5"}}},
          
        {jsx, ".*",
         {git, "git@git.in.trueex.com:deps/jsx.git",
          {tag, "3d103af192f5b93bfc804a5ac2466eb40ad7fff8"}}}
           
        ]}.



