{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "impactor", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         impactor
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "impactor"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
    {app, sasl, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]}
      ]}.

{target_dir, "impactor"}.
{overlay, [
           {mkdir,"log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/impactor", "bin/impactor"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.



          